@tailwind base;
@tailwind components;
@tailwind utilities;

/* General styles */
body {
    font-family: monospace;
    background-color: #252525;
    color: #e4e4e4;
}

h1 {
    color: #4db8ff;
    font-size: 2em;
    padding-bottom: 0.3em;
    line-height: 1.2;
}

h2 {
    font-size: 1.7em;
    color: #43b4ff;
    line-height: 1.2;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.4em;
    color: #2b8ecf;
    line-height: 1.2;
    padding-bottom: 0.3em;
}

/* Paragraphs */
p {
    font-size: 1.1em;
    margin: 1em 0;
    line-height: 1.5lh;
}

/* Blockquotes */
blockquote {
    margin: 0;
    padding: 1em 1em;
    border-left: 5px solid #ccc;
    background-color: rgba(230, 230, 230, 0.2);
    font-size: 1.1em;
}

/* Lists */
ul,
ol {
    margin: 1em 0;
    padding: 0 1em;
    list-style: none;
    font-size: 1.1em;
}

ul ul {
    margin: 0;
}

li {
    margin: 0.5em 0;
}

li:not(:has(ul))::before {
    content: "─";
    color: #43b4ff;
    padding-right: .5em;
    display: inline-block;
}

/* Inline elements */
strong {
    font-weight: bold;
    color: #fff;
}

em {
    font-style: italic;
    color: #ffffff9f;
}

del {
    text-decoration: line-through;
}

pre,
blockquote,
ul,
ol {
    margin-bottom: 1.5em;
}